# Port pro Express server
PORT=5000

# FTPS Server Konfigurace
FTPS_HOST=nas.frengp.cz
FTPS_PORT=21
FTPS_USER=Student
FTPS_REJECT_UNAUTHORIZED=false

# Bezpečnost a sezení
SESSION_SECRET=vytvorte-nahodny-silny-tajny-klic
SESSION_TTL_HOURS=24

# Výrobní / Vývojové prostředí (development / production)
NODE_ENV=production
